@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

:root {
    --primary-bg-color: #eee;
    --secondary-bg-color: #fff;
    --primary-text-color: #666;
    --secondary-text-color: #999;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

.container {
    min-height: 100vh;
    padding: 20px 9%;
    background: var(--primary-bg-color);
    padding-bottom: 80px;
}